.access-denied-container {
    text-align: center;
    margin-top: 5rem;
  
    h1 {
      color: #c00;
      font-size: 2.5rem;
    }
  
    p {
      font-size: 1.2rem;
    }
  
    a {
      color: #007bff;
      text-decoration: underline;
    }
  }
  